.card {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin-bottom: 1rem;
}

.table {
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .card-title {
    font-size: 1.2rem;
  }

  .h3 {
    font-size: 1.5rem;
  }
}
