/* Estilos para la tabla de solicitudes */
.table-responsive {
  margin-top: 20px;
}

.mat-header-cell {
  background-color: #007bff; /* Color de fondo del encabezado */
  color: white; /* Color del texto del encabezado */
}

.mat-cell {
  font-size: 14px; /* Tamaño de fuente de las celdas */
}

/* Estilos para los estados */
.bg-success {
  background-color: #28a745 !important; /* Verde para Aprobado */
}

.bg-warning {
  background-color: #ffc107 !important; /* Amarillo para Pendiente */
}

.bg-danger {
  background-color: #dc3545 !important; /* Rojo para Rechazado */
}

.text-white {
  color: white !important; /* Texto blanco */
}

.text-dark {
  color: #343a40 !important; /* Texto oscuro */
}
