<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img class="navbar-brand" src="./assets/imagenes/logo.png" alt="Logo" style="width: 200px; height: auto;">
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDepartamentos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Departamentos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownDepartamentos">
              <li><a class="dropdown-item" routerLink="informatica/inicio-informatica">INFORMATICA</a></li>
              <li><a class="dropdown-item" routerLink="produccion/inicio-produccion">PRODUCCION</a></li>
              <li><a class="dropdown-item" routerLink="rrhh/inicio-rrhh">RRHH</a></li>
              <li><a class="dropdown-item" routerLink="administracion/inicio-administracion">ADMINSITRACION</a></li>
              <li><a class="dropdown-item" routerLink="compras/inicio-compras">COMPRAS</a></li>
              <li><a class="dropdown-item" routerLink="laboratorio/inicio-laboratorio">CALIDAD/LABORATORIO</a></li>
              <li><a class="dropdown-item" routerLink="mantenimiento/inicio-mantenimiento">MANTENIMIENTO</a></li>
              <li><a class="dropdown-item" routerLink="gerencia/inicio-gerencia">GERENCIA</a></li>
              <li><a class="dropdown-item" routerLink="oficina-tecnica/inicio-oficina-tecnica">OFICINA TECNICA</a></li>
              <li><a class="dropdown-item" routerLink="logistica/inicio-logistica">LOGISTICA</a></li>





            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDepartamentos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reserva de Salas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownDepartamentos">
              <li><a class="dropdown-item" routerLink="calendario">Gerencia</a></li>
              <li><a class="dropdown-item" href="#">Project</a></li>
              <li><a class="dropdown-item" href="#">Comun</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsuario" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mi Cuenta
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUsuario">
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li><a class="dropdown-item" (click)="testTokenDecoding()">Configuración</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item logout-link" (click)="logout()">Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
