<div class="container mt-5">
  <h2>Crear Solicitud de Muestra</h2>
  <form (ngSubmit)="onSubmit()" #solicitudForm="ngForm">
    <div class="form-row">
      <div class="form-group">
        <div class="form-check">
          <input type="radio"
                 id="expedicionesSi"
                 class="form-check-input"
                 [(ngModel)]="selectedOption"
                 name="options"
                 value="expediciones"
                 (change)="onOptionChange('expediciones')" />
          <label for="expedicionesSi" class="form-check-label">Expediciones</label>
          <i class="fas fa-question-circle info-icon"
             [matTooltip]="tooltips.expediciones"
             matTooltipPosition="right"></i>
        </div>
        <div class="form-check">
          <input type="radio"
                 id="laboratorioNo"
                 class="form-check-input"
                 [(ngModel)]="selectedOption"
                 name="options"
                 value="laboratorio"
                 (change)="onOptionChange('laboratorio')" />
          <label for="laboratorioNo" class="form-check-label">Laboratorio</label>
          <i class="fas fa-question-circle info-icon"
             [matTooltip]="tooltips.laboratorio"
             matTooltipPosition="right"></i>
        </div>

        <div class="form-check">
          <input type="radio"
                 id="almacenNo"
                 class="form-check-input"
                 [(ngModel)]="selectedOption"
                 name="options"
                 value="almacen"
                 (change)="onOptionChange('almacen')" />
          <label for="almacenNo" class="form-check-label">Almacen</label>
          <i class="fas fa-question-circle info-icon"
             [matTooltip]="tooltips.almacen"
             matTooltipPosition="right"></i>
        </div>
      </div>
      <hr /> <!-- Línea horizontal antes del botón -->
      <div *ngIf="selectedOption === 'laboratorio'" class="mt-2">
        <label for="laboratorioOptions" class="form-label"><strong>Tipo de análisis:</strong> </label>
        <select id="laboratorioOptions" class="form-select" [(ngModel)]="selectedLaboratorioOption" name="laboratorioOptions">
            <option value="" disabled selected>-- Seleccione --</option>
            <option value="HOMOLOGACION">HOMOLOGACION</option>
            <option value="DISGREGACION">DISGREGACION</option>
            <option value="POLVO">POLVO</option>
            <option value="LIQUIDO">LIQUIDO</option>
            <option value="CAPSULAS">CAPSULAS</option>
            <option value="COMPRIMIDOS">COMPRIMIDOS</option>
            <option value="OTROS">OTROS</option>
        </select>
        <hr>
    </div>
      <div class="form-group col-md-6">
        <label for="solicitante">Solicitante</label>
        <input type="text" id="solicitante" class="form-control" [(ngModel)]="solicitud.solicitante" name="solicitante" required />
      </div>
      <div class="form-group col-md-6">
        <label for="nombreMp">Nombre del MP</label>
        <input type="text" id="nombreMp" class="form-control" [(ngModel)]="solicitud.nombreMp" name="nombreMp" required />
      </div>
    </div>
    <hr /> <!-- Línea horizontal entre campos -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="lote">Lote</label>
        <input type="text" id="lote" class="form-control" [(ngModel)]="solicitud.lote" name="lote" required />
      </div>
      <div class="form-group col-md-6">
        <label for="proveedor">Proveedor</label>
        <input type="text" id="proveedor" class="form-control" [(ngModel)]="solicitud.proveedor" name="proveedor" required />
      </div>
    </div>
    <hr /> <!-- Línea horizontal entre campos -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="urgencia">Urgencia</label>
        <select id="urgencia" class="form-control" [(ngModel)]="solicitud.urgencia" name="urgencia" required>
          <option value="">Seleccione Urgencia</option>
          <option value="Alta">Alta</option>
          <option value="Media">Media</option>
          <option value="Baja">Baja</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="fecha">Fecha</label>
        <input type="date" id="fecha" class="form-control" [(ngModel)]="solicitud.fecha" name="fecha" required />
      </div>
    </div>
    <hr /> <!-- Línea horizontal entre campos -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="codigoArticulo">Código Artículo</label>
        <input type="text" id="codigoArticulo" class="form-control" [(ngModel)]="solicitud.codigoArticulo" name="codigoArticulo" required />
      </div>
      <div class="form-group col-md-6">
        <label for="comentarios">Comentarios</label>
        <textarea id="comentarios" class="form-control" [(ngModel)]="solicitud.comentarios" name="comentarios"></textarea>
      </div>
    </div>
    <hr /> <!-- Línea horizontal entre campos -->

    <button type="submit" class="btn btn-primary" [disabled]="!solicitudForm.form.valid">Crear Solicitud</button>
  </form>
</div>
